footer {
    padding: 30px;
    background: #0b0b0b;
    text-align: center;
    color: #bfbfbf;
}
footer a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}

@media screen and (max-width: 950px) {
    footer {
        font-size: 0.9rem;
    }
}
