@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --foreground-color: #ffbb6a;
    --background-color: #111111;
    --contrast-color: #202020;
    --orange-shade: #ff9d42;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*  GENERAL  */
html {
    background: var(--background-color);
    scroll-behavior: smooth;
}

/*  NAVBAR  */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar {
    width: 100%;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #242424;
}
.navbar .logo a {
    color: var(--foreground-color);
    font-size: 2.5rem;
    font-style: italic;
    text-decoration: none;
}
.mobile-menu {
    display: none;
}
.navlinks {
    list-style: none;
}
.navlinks > li {
    display: inline;
    margin: 0px 1rem;
}
.navlinks > li > a {
    color: #eee;
    transition: 0.2s ease-out;
    text-decoration: none;
}
.navlinks > li > a:hover {
    color: var(--foreground-color);
}

.download-resume-button {
    display: flex;
    align-items: center;
    gap: 5px;

    color: whitesmoke;
    background: #0a0a0a;
    font-weight: 500;
    padding: 0.4rem 1rem;

    border-radius: 99px;
    /* border: 2px solid var(--foreground-color); */
    outline: none;
    text-decoration: none;
    font-size: 0.85rem;

    position: relative;
    transition: 0.2s ease-out;
}
@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
.download-resume-button::after,
.download-resume-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-image: conic-gradient(
        from var(--angle),
        orange,
        skyblue,
        hotpink,
        magenta
    );
    padding: 3px;
    border-radius: 99px;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}
.download-resume-button::before {
    filter: blur(1.5rem);
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
.download-resume-button:hover {
    box-shadow: 0 0 7px 1px var(--foreground-color);
    cursor: pointer;
}

/*  ========== */
/*  RESPONSIVE */
/*  ========== */
@media screen and (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        gap: 9px;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #242424;
        font-size: 0.8rem;
        list-style: none;
    }
    .download-resume-button {
        font-size: 0.8rem;
        padding: 0.3rem 0.6rem;
    }
    .navbar .logo a {
        font-size: 2.2rem;
    }
    .mobile-menu > li > a {
        color: #eee;
        transition: 0.2s ease-out;
        text-decoration: none;
        list-style: none;
    }
    .mobile-menu > li > a:hover {
        color: var(--foreground-color);
    }
    .navlinks {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        padding: 0.5rem 1.8rem;
    }

    h1.heading {
        font-size: 2rem !important;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1300px) {
    #projects .project {
        margin: 0 auto;
    }
}
