@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --foreground-color: #ffbb6a;
    --background-color: #111111;
    --contrast-color: #202020;
    --orange-shade: #ff9d42;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*  GENERAL  */
html {
    background: var(--background-color);
    scroll-behavior: smooth;
}

/*  NAVBAR  */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar {
    width: 100%;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #242424;
}
.navbar .logo a {
    color: var(--foreground-color);
    font-size: 2.4rem;
    font-style: italic;
    text-decoration: none;
}
.mobile-menu {
    display: none;
}
.navlinks {
    list-style: none;
}
.navlinks > li {
    display: inline;
    margin: 0px 1rem;
}
.navlinks > li > a {
    color: #eee;
    transition: 0.2s ease-out;
    text-decoration: none;
}
.navlinks > li > a:hover {
    color: var(--foreground-color);
}

.download-resume-button {
    display: flex;
    align-items: center;
    gap: 5px;

    color: whitesmoke;
    background: #0a0a0a;
    font-weight: 500;
    padding: 0.4rem 1rem;

    border-radius: 99px;
    /* border: 2px solid var(--foreground-color); */
    outline: none;
    text-decoration: none;
    font-size: 0.85rem;

    position: relative;
    transition: 0.2s ease-out;
}
@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
.download-resume-button::after,
.download-resume-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-image: conic-gradient(
        from var(--angle),
        orange,
        skyblue,
        hotpink,
        magenta
    );
    padding: 3px;
    border-radius: 99px;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}
.download-resume-button::before {
    filter: blur(1.5rem);
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
.download-resume-button:hover {
    box-shadow: 0 0 7px 1px var(--foreground-color);
    cursor: pointer;
}

/* ######################################## */

/*  HERO  */
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
}
#intro h1 {
    font-weight: 900;
    font-size: 3rem;
    color: whitesmoke;
}
#intro h1.name {
    color: var(--foreground-color);
    margin-bottom: -15px;
    font-size: 3.5rem;
}
#intro .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    margin-top: 3rem;
}
#intro .contact-info > a > img {
    width: 25px;
}
#intro #download-resume-button-2 {
    background: var(--foreground-color);
    border: none;
    outline: none;
    border-radius: 99px;

    display: flex;
    align-items: center;
    gap: 3px;

    font-weight: 500;
    padding: 0.4rem 1rem;
    color: var(--contrast-color);
    transition: 0.1s ease-in;
    text-decoration: none;
    font-size: 0.9rem;

    cursor: pointer;
}
#intro #download-resume-button-2:hover {
    box-shadow: 0 0 5px 1px var(--foreground-color);
}

/* ######################################## */

/*  ABOUT  */
#about {
    padding-top: 100px;
}
.about-content {
    background: var(--foreground-color);
    text-align: center;
    color: var(--contrast-color);
    padding: 50px;
    margin-bottom: 6rem;
}
#about h1 {
    font-size: 2.3rem;
}
#about p {
    font-size: 1.1rem;
    width: 60vw;
    margin: 20px auto;
}
/* ######################################## */

/*  SKILLS */
h1.heading {
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
    position: relative;
    width: max-content;
    margin: auto;
    padding-top: 120px;
}
h1.heading::after {
    content: "";
    position: absolute;
    bottom: 9px;
    width: 20px;
    height: 5px;
    background: var(--foreground-color);
    text-align: center;
}
#skills .skills-list {
    padding: 30px 90px;
    text-align: center;
    color: whitesmoke;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#skills .skill {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
    margin: 10px;
    background: var(--contrast-color);
    padding: 8px 20px;
    border-radius: 99px;
}
#skills .skill img {
    width: 40px;
}
/* ######################################## */

/*  PROJECTS  */
#projects .projects-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 5rem;
}
#projects .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
#projects .project .info {
    width: 60%;
}
#projects .project .crousel {
    width: 40%;
}
#projects .project .name {
    font-size: 2rem;
    color: var(--foreground-color);
}
#projects .project .description {
    color: whitesmoke;
    margin-top: 5px;
}
#projects .project .features {
    color: whitesmoke;
    margin-left: 14px;
    margin-top: 20px;
}
#projects .project .features > li {
    margin: 8px 0px;
}
#projects .project .tech-stack {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    color: #bdbdbd;
    margin: 20px 0px;
}
#projects .project .tech-stack .tech {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 15px;
    border-radius: 99px;
    color: whitesmoke;
    gap: 6px;
    background: var(--contrast-color);
    font-size: 0.9rem;
}
#projects .project .tech-stack .tech img {
    width: 20px;
}
#projects .project .info .links {
    display: flex;
    align-items: center;
    gap: 7px;
}
#projects .project .info .links > a {
    display: flex;
    align-items: center;
    gap: 5px;

    background: transparent;
    width: max-content;
    padding: 5px 13px;

    border-radius: 99px;
    border: 2px solid var(--contrast-color);

    text-decoration: none;
    font-weight: 500;

    transition: 0.2s ease;
}
#projects .project .info .links > a:hover {
    background: #1d1d1d;
}
#projects .source-code-link {
    color: whitesmoke;
}
#projects .hosted-link {
    color: whitesmoke;
}
.images {
    width: 40%;
    position: relative;
    height: 350px;
}
.images img {
    width: 100%;
    border-radius: 10px;
}
.card {
    border-radius: 8px;
    padding: 3px;
    width: 80%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    box-shadow: 0px 0px 7px 2px #242424;
    border: 2px solid var(--orange-shade);
}
.card-2 {
    top: 10px;
    rotate: -9deg;
}
.card-3 {
    top: 15px;
    rotate: -12deg;
}
/* ######################################## */

/*  FOOTER  */
footer {
    padding: 30px;
    background: #0b0b0b;
    text-align: center;
    color: #bfbfbf;
}
footer a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}
/* ######################################## */

/*  ========== */
/*  RESPONSIVE */
/*  ========== */
@media screen and (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        gap: 9px;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #242424;
        font-size: 0.9rem;
        list-style: none;
    }
    .download-resume-button {
        font-size: 0.8rem;
    }
    .mobile-menu > li > a {
        color: #eee;
        transition: 0.2s ease-out;
        text-decoration: none;
        list-style: none;
    }
    .mobile-menu > li > a:hover {
        color: var(--foreground-color);
    }
    .navlinks {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        padding: 0.5rem 4rem;
    }

    #intro {
        padding: 1.3rem;
    }

    #intro h1 {
        font-size: 1.8rem;
    }

    #intro h1.name {
        font-size: 3rem;
    }

    #about p {
        width: 100%;
        font-size: 0.92rem;
        margin: 10px auto;
    }

    .about-content {
        padding: 1.5rem;
        margin-bottom: 2rem;
    }

    #about h1 {
        font-size: 1.7rem;
    }

    #skills .skills-list {
        padding: 10px;
    }
    #skills .skill {
        padding: 8px 15px;
        margin: 5px;
    }
    #skills .skill img {
        width: 20px;
    }
    #skills .skill span {
        font-size: 0.9rem;
    }
    h1.heading {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
